body {
    background-image: url('images/laka.png');
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
}

#top-panel {
    background-color: #333;
    color: #fff;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.button-container a {
    color: #fff; /* Kolor tekstu na biały */
    text-decoration: none; /* Usunięcie podkreślenia */
    display: block;
    padding: 10px 10px;
    text-align: center;
}

#loginForm, #registerForm {
    display: none; /* Ukrycie formularzy na początku */
    position: absolute;
    top: 50%; /* Wyśrodkowanie formularza w pionie */
    left: 50%; /* Wyśrodkowanie formularza w poziomie */
    transform: translate(-50%, -50%); /* Dokładne wyśrodkowanie względem środka */
    background-color: #fff;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container input {
    display: block;
    width: calc(100% - 40px);
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.form-container button {
    width: calc(100% - 40px);
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.form-container button:hover {
    background-color: #555;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#image-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px; /* Dodajemy odstęp od góry strony */
    flex-wrap: wrap; /* Po to, żeby elementy były w 1 rzędzie */
}

#image-buttons button {
    border: none;
    background: none;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-buttons img {
    width: 60%; /* Dostosowana wielkość obrazka */
    height: auto;
    cursor: pointer;
}

